<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
  <h2>Currently</h2><p>{{currently_temp}}</p><p>{{currently_summary}}</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h2>Minute</h2><p>{{minute_summary}}</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h2>Hourly</h2><p>{{hourly_summary}}</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <h2>Daily</h2><p>{{daily_summary}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <figure class="icons">
        <canvas id="{{currently_icon}}" width="64" height="64">
        </canvas>
      </figure>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <figure class="icons">
        <canvas id="{{hourly_icon}}" width="64" height="64">
        </canvas>
      </figure>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <figure class="icons">
        <canvas id="{{daily_icon}}" width="64" height="64">
        </canvas>
      </figure>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <figure class="icons">
        <canvas id="{{minute_icon}}" width="64" height="64">
        </canvas>
      </figure>
    </div>
  </div>
</div>

<form action="/results" method="POST">
  <input type="submit" value="do shit">
</form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/skycons.js"></script>
    <script>
      var icons = new Skycons(),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

      for(i = list.length; i--; )
        icons.set(list[i], list[i]);

      icons.play();
    </script>
